<% content_for :sidebar do %>
	<p class="hint text_only large padded">
		<%= t :'adva.sets.hints.parent_setting_for_edit' %>
	</p>
<% end %>

<h2><%= t(:'adva.photos.common.edit_set') %></h2>

<% form_for :set, @set, :url => admin_set_path(@site, @section, @set), :html => {:method => :put} do |f| %>
	<% f.field_set do %>
    <% column do %>
      <%= f.text_field :title, :label => true, :hint => :'adva.hints.sets' %>
    <% end %>

    <% column do %>
      <%= f.text_field :permalink, :label => true, :hint => :'adva.sets.hints.permalink' %>
    <% end %>
  <% end %>

  <% save_or_cancel_links(f, :cancel_url => admin_sets_path(@site, @section)) %>
<% end %>