<% content_for :action_nav do -%>
	<%= Menu.instance(:'admin.sets.actions').render(self) %>
<% end -%>

<h2><%= t(:'adva.photos.admin.sets.create') %></h2>
  
<% form_for :set, @set, :url => admin_sets_path(@site, @section) do |f| %>
  <% f.field_set do %>
    <%= f.text_field :title, :label => true %>
  <% end %>

  <% save_or_cancel_links(f, :cancel_url => admin_sets_path(@site, @section)) %>
<% end %>