/* assets */

#assets-list {
	width: 800px;
}
.assets-row {
	float: left;
	clear: both;
  margin-bottom: 25px;
}
.assets-row div {
	float: left;
	margin-right: 45px;
  position: relative;
}
.assets-row img {
  padding: 5px;
  border: 1px solid #ccc;
}
.asset-tools {
	position: absolute;
	bottom: 1px;
  width: 60px;
	background-color: #efefef;
	padding-top: 1px;
	margin-right: auto;
}
#recent-assets div {	
	margin-right: 60px;
}
#recent-assets .asset-tools {
	left: 35px;
}
.asset-tools li {
	display: inline;
}
.asset-tools li a {
  float: left;
  display: block;
  height: 16px;
  width: 16px;
  margin: 0px 2px;
  text-indent: -9999px;
  text-decoration: none;
}
.asset-tools li.edit a   { background-image: url(/images/icons/pencil.png) }
.asset-tools li.delete a { background-image: url(/images/icons/delete.png) }
.asset-tools li.bucket a { background-image: url(/images/icons/attach.png) }

#asset_form #file-label {
	margin-left: 22px;
}
#asset_form #title-label,
#asset_form #taglist-label {
	position: absolute;
	left: 345px;
}
#asset_form #taglist-label {
	left: 560px;
}
#asset_form .title_field,
#asset_form .taglist_field {
	width: 200px;
}

/* assets widget */

#assets-widget .tabs li {
  display: inline;
}
#assets-widget .tabs li a {
  padding: 5px 5px 3px 20px;
  margin-right: 3px;
  border: 1px solid #ccc;
  border-bottom: 0px;
  color: #333;
  font-size: 90%;
	text-decoration: none;
  background-color: #ccc;
}
#assets-widget .tabs .selected a {
  background-color: #fff !important;
  padding-bottom: 3px;
	border-bottom: 1px solid #fff;
}
#assets-widget .tabs li a:hover {
  background-color: #eee;
  color: #000;
}
#assets-widget #tab-attached-assets a { 
	background: url(/images/icons/link.png) 3px 3px no-repeat; 
}
#assets-widget #tab-latest-assets a {
	padding-left: 21px;
	background: url(/images/icons/page_favorites.png) 4px 4px no-repeat; 
}
#assets-widget #tab-bucket-assets a { 
	background: url(/images/icons/attach.png) 2px 3px no-repeat; 
}
#assets-widget #tab-search-assets a { 
	padding-left: 22px;
	background: url(/images/icons/magnifier.png) 4px 50% no-repeat;
}
#assets-widget #tab-upload-assets a { 
	background: url(/images/icons/bullet_go.png) 3px 2px no-repeat; 
}

#assets-widget .panel {
	float: left;
	width: 90%;
	margin-top: 0px;
  padding: 3px 8px 8px 8px;
	border: 1px solid #ccc;
  background: #fff;
}
.asset-list {
	margin-top: 5px;
}
.asset-list li {
	position: relative;
	float: left;
	padding: 3px;
  margin: 4px 4px 0px 0px;
	background-color: #fff;
}
.asset-list li img {
  border: 1px solid #999;
}
.asset-list .selected {
	background: url(/images/asset_selected.png) top left no-repeat;
}
#attached-assets .selected {
	background: none;
}
.asset-list a {
	display: block;
}
.asset div {
	position: absolute;
	top: 6px;
	left: 6px;
}
.asset div a img {	
	float: left;
	border: 0px;
}
.asset .detach-asset,
.selected .attach-asset {
	display: none;
}
.selected .detach-asset {
	display: block;
}
#asset-search label {
	font-weight: bold; 
	padding: 5px 0;
}
#assets-widget .spinner {
	vertical-align: middle;
}
#search-assets-query {
	width: 260px;
}