

#themelist {
  list-style: none;
	margin: 20px 0px;
	padding: 0px;
}
#themelist li {
  display: block;
  position: relative;
  float: left;
  width: 23%;
	margin: 0px;
	padding: 0px;
  text-align: center;
  padding: 0px 5px 30px 5px;
  border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}
#themelist h4 {
	font-size: 14px;
	margin: 0px 0px 4px 0px;
}
#themelist p {
	margin: 0px 0px 8px 0px;
  font-weight: normal;
  font-size: 11px;
  color: #777;
}
#themelist img,
#screenshot img {
  width: 130px;
  height: 130px;
  background: #fff;
  margin: 5px;
  padding: 5px;
  border: 1px solid #ddd;
}
#themelist ul {
	text-align: center;
	padding: 4px 0px;
}
#themelist ul li {
	float: none;
	display: inline;
	padding: 4px;
}
#themelist .current img {
	margin: 0px;
  padding: 10px;
	border-color: transparent;
	background: url(/images/theme_selected.png) no-repeat;
}