<fieldset>
  <% @plugin.option_definitions.each do |name, option| %>
    <p>  
      <%= f.label name, name %>
      <% if option[:type] == :text %>
        <%= f.text_area name, :class => 'short' %>
      <% else %>
        <%= f.text_field name %>
      <% end %>
    </p>
  <% end %>
</fieldset>
