<fieldset>
  <% @plugin.option_definitions.each do |name, option| %>
    <p>  
      <% if option[:type] == :text %>
        <%= f.text_area name, :label => true %>
      <% else %>
        <%= f.text_field name, :label => true %>
      <% end %>
    </p>
  <% end %>
</fieldset>
