<p>
  <label for="cell_options_section"><%= I18n.translate(:'adva.cells.blog.states.recent_articles.form.section', :default => 'Page') %></label>
  <input type="text" id="cell_options_section" name="cell_options[section]" value="" />
</p>
<p>
  <label for="cell_options_count"><%= I18n.translate(:'adva.cells.blog.states.recent_articles.form.count', :default => 'Count') %></label>
  <input type="text" id="cell_options_count" name="cell_options[count]" value="" />
</p>