<% form_tag calendar_events_path(@section), :method => 'get', :id => 'calendar-search' do -%>
  <label for="query" class="inline">
    <%= t(:'adva.calendar.titles.search_events') %>
  </label>
  <%= text_field_tag 'query', params[:query], :id => 'query' %>
  <select name="filter" id="filterlist">
    <%= options_for_select [[ t(:'adva.calendar.options.filter.tags'),      'tags'],
                            [ t(:'adva.calendar.options.filter.title'),     'title'],
                            [ t(:'adva.calendar.options.filter.body'),      'body'],
                            [ t(:'adva.calendar.options.filter.location'),  'location']], params[:filter] %>
  </select>
  <input type="submit" value="<%= t(:'adva.calendar.buttons.search') %>" />
<% end -%>