<h2><%= t(:'adva.sections.titles.blog_settings') %></h2>

<% f.field_set :blog_settings do %>
  <% column do %>
    <%= f.text_field :contents_per_page, :label => true %>
	<% end %>

  <% column do %>
    <%= f.select :content_filter, filter_options, {}, :label => true, :hint => :'adva.sections.hints.content_filter' %>
	<% end %>
<% end %>
