<ul class="sub-nav clearfix">
  <li><%= link_to content_tag(:span, t(:'adva.titles.site')), edit_admin_site_path(@site) %></li>
  <li><%= link_to content_tag(:span, t(:'adva.titles.themes')), admin_themes_path(@site) %></li>
  <li><%= link_to content_tag(:span, t(:'adva.titles.cache')), admin_cached_pages_path(@site) %></li>
</ul>
