<h2><%= t(:'adva.titles.email_notifications') %></h2>

<% f.field_set :email_notification do %>
	<% column do %>
      <p class="hint text_only"><%= t(:'adva.sites.hints.email_notification') %></p>
			
			<%= f.check_box :email_notification, { :label => :'adva.sites.email_notification_activated' } %>
	<% end %>
<% end %>