<% if contents.present? -%>
  <h3><%= t(:'adva.comments.titles.comments_awaiting_approval') %></h3>
  <ul>
  <% contents.each do |content, comments| -%>
    <% if content -%>
    <li><%= link_to "<strong>(#{comments.size})</strong> #{content.title}", admin_comments_path(:content_id => content.id, :filter => :unapproved) %></li>
    <% end -%>
  <% end -%>
  </ul>
<% end -%>
