<% content_for :action_nav do -%>
  <ul class="sub_nav clearfix">
    <li><%= link_to content_tag(:span, 'New'), :action => "new" %></li>
  </ul>
<% end %>

<% unless @sites.empty? %>

	<%
		table_for @sites do |t|
			t.columns :name, :host, :actions
			t.body do |r, site, index|
	  		r.cell link_to(site.name, admin_site_path(site))
				r.cell site.host
				r.cell view_resource_link(site, "http://#{site.host}") + "\n" +
				       edit_resource_link(site, edit_admin_site_path(site), :text => t(:'adva.resources.settings')) + "\n" +
				       delete_resource_link(site, admin_site_path(site))
			end
		end
	%>

  <%= will_paginate @sites, :id => 'pagination' %>

<% else %>

  <div class="empty">
    <%= t(:'adva.sites.no_sites') %>
    <%= link_to "Create one now &raquo;", new_admin_site_path %>
  </div>

<% end %>
