<% content_for :action_nav do -%>
  <ul class="sub_nav clearfix">
    <li><%= link_to content_tag(:span, 'New'), :action => "new" %></li>
  </ul>
<% end %>

<%
	table_for @sites do |t|
		t.column :name, :host, :actions

		t.row do |r, site|
  		r.cell link_to(site.name, admin_site_path(site))
			r.cell site.host
			r.cell view_resource_link(site, "http://#{site.host}") + "\n" +
			       edit_resource_link(site, edit_admin_site_path(site), :text => t(:'adva.resources.settings')) + "\n" +
			       delete_resource_link(site, admin_site_path(site))
		end

		t.foot.row do |r|
			r.cell will_paginate(@sites), :class => :pagination, :colspan => :all
		end

		t.empty :p, :class => 'empty' do
			t(:'adva.articles.no_sites') + "\n" +
			link_to("Create one now &raquo;", new_admin_site_path)
		end
	end
%>