<h2>Single-site mode</h2>

<p>Multi-sites mode is not currently enabled for this installation.</p>

<p>You can enable it by changing the following setting in your application initializer:</p>

<pre><code>
  Site.multi_sites_enabled = true
</code></pre>

<p>Please refer to the documentation for further information.</p>
