Capfile
config/deploy.rb
config/database.yml
log/*.log
**/*.spec.log
db/*.sqlite3
db/schema.rb
tmp
tmp/**/*
public/assets/*
public/cache/*
public/images/themes/*
public/javascripts/cache/*
public/stylesheets/cache/*
public/themes
*.swp
vendor/engines/adva_rbac/spec/db/*.sqlite3
vendor/engines/adva_rbac/spec/log/*
.DS_Store
*~
