<h2>Comments</h2>
<fieldset class="clearfix">
  <div class="col1">
    <%= f.label :comment_age, t(:'adva.comments.labels.comments') %>
    <%= f.select :comment_age, comment_expiration_options %>
  </div>
</fieldset>
