<h2>Comments</h2>
<fieldset class="clearfix">

  <fieldset class="col">
    <%= f.label :comment_age, 'Comments' %>
    
    <%= f.select :comment_age, comment_expiration_options %>
      </fieldset>

    </fieldset>