<h4>Blog specific settings</h4>
<fieldset>
  <p>
    <%= f.label :topics_per_page %>
    <%= f.text_field :topics_per_page, :class => 'short' %>
  </p>
  <p>
    <%= f.label :comments_per_page %>
    <%= f.text_field :comments_per_page, :class => 'short' %>
  </p>
</fieldset>
