<h4>Forum specific settings</h4>
<fieldset class="clearfix">
  <div class="col1">
    <p>
      <%= f.label :topics_per_page %>
      <%= f.text_field :topics_per_page, :class => 'short' %>
    </p>
    <p>
      <%= f.label :comments_per_page %>
      <%= f.text_field :comments_per_page, :class => 'short' %>
    </p>
  </div>
</fieldset>
