<div style="border: 3px solid #eee; padding: 12px; margin-bottom: 20px;">
	<h2>New Content</h2>
	<ul>
	<% @content.each do |content| %>
	  <li><%= content[:type] %>: <%= link_to_content content %></li>
	<% end %>
	</ul>
</div>