#header {
	position: relative;
	background: url(/images/adva_cms/admin/header_bg.png) repeat-x;
	height: 125px;
}
#main {
	position: absolute;
	clear: both;
  width: 68%;
  border-right: 3px solid #e6e6e6;
  border-bottom: 3px solid #e6e6e6;
	background-color: #fff;
	padding-bottom: 40px;
}
#flashes {
	margin-top: -16px;
	height: 40px;
	background-color: white;
  text-align: center;
  font-weight: bold;
}
#content {
	padding: 20px 30px;
}
#sidebar {
	position: absolute;
  left: 70%;
	width: 30%;
	margin-top: 10px;
	/*padding-left: 30px;*/
}
#header h1 {
	position: absolute;
	top: 10px;
	margin: 0px 0px 0px 20px;
	font-size: 14px;
	color: #999;
}