<h2><%= t(:'adva.titles.comments') %></h2>

<% f.field_set :comments_settings do %>
	<% column do %>
  	<%= f.select :comment_filter, filter_options, {}, :label => true, :hint => :'adva.comments.hints.comments_filter' %>
	<% end %>
<% end %>
