<h2><%= t(:'adva.titles.comments') %></h2>

<% f.field_set :comments_settings do %>
  <% column do %>
    <%= f.select :comment_age, comment_expiration_options, {}, :label => :'adva.comments.labels.comments' %>
	<% end %>
<% end %>