<h1>Success!</h1>

<p>You have successfully registered for a user account.</p> 

<p>There is just one more thing. We need to make sure your email address is
valid. We have sent an email to the address you gave which includes a link.
This link will complete your registration process.</p>

<p>Just click it and you are done!</p>
