/*.tabs ul li a {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -moz-border-top-right-radius: 4px;
}*/
#top {
	width: 100%;
	padding-top: 5px;
	background-color: black;
	border-bottom: 5px solid #c22222;
  /*-webkit-box-shadow: 0px 0px 4px #888;*/
}
#top:after {
	content: '-'; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}
#top ul {
  clear: none;
	position: relative;
	list-style-type: none;
}
#top ul.left {
	float: left;
	margin-left: 3%;
}
#top ul.right {
	float: right;
	margin-right: 2%;
}
#top li {
	float: left;
	margin-left: -1px;
}
#top a {
	display: block;
	padding: 4px 16px 4px 16px;
	color: #fff;
	outline: none;
}
#top > ul > li > a {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -moz-border-top-right-radius: 4px;
}
#top .active > a {
	color: #fff;
	background-color: #c22222;
	background-image: url(/images/adva_cms/admin/tab_top_active.png);
}
#top a:hover {
  color: #222;
  background-color: #fff;
  text-decoration: none;
}
#top li > ul {
  display: none;
  position: absolute;
  z-index: 99;
  top: 27px;
  padding-left: 1px;
	border-top: 5px solid #c22222;
  border-bottom: 1px solid #ddd;
  background-color: #fff !important;
  -webkit-box-shadow: 3px 3px 6px #aaa;
  -moz-box-shadow: 3px 3px 6px #aaa;
}
#top li ul {
  list-style-type: none;
}
#top li:hover ul {
  display: block;
}
#sections_menu li {
  float: none;
}
#sections_menu li a {
  color: #000;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
#sections_menu li a {
  background-color: #fff;
}
#sections_menu li a:hover {
  background-color: #eee;
}

#sections_menu a.active {
  background-color: #fbf7e4;
}
#sections_menu .level_0 { padding-left: 16px; }
#sections_menu .level_1 { padding-left: 32px; }
#sections_menu .level_2 { padding-left: 48px; }
#sections_menu .level_3 { padding-left: 64px; }
#sections_menu .level_4 { padding-left: 80px; }
#sections_menu .level_5 { padding-left: 96px; }
#sections_menu .level_6 { padding-left: 112px; }

#breadcrumbs {
	float: left;
  list-style-type: none;
  margin: 15px 0 20px 3%;
  padding-left: 16px;
}
#breadcrumbs li {
  float: left;
  padding: 0 0 0 4px;
}
#breadcrumbs li:first-child {
  float: left;
  padding: 0 0 0 0px;
}
#breadcrumbs li:after { 
  content: "\0020 \0020 \0020 \00BB \0020";
}
#breadcrumbs li.last:after { 
  content: " ";
}
#breadcrumbs li,
#breadcrumbs li a {
	color: #999;
	font-size: 9pt;
}
#login_status {
	float: right;
	margin: 15px 3% 0 0;
	text-align: right;
}
#login_status,
#login_status a {
	color: #999;
	font-size: 9pt;
}

#search {
	position: absolute;
	right: 6%;
	bottom: 5px;
  padding: 0;
}
#search input {
  color: #888;
  width: 100px;
  background: white url(/images/adva_cms/admin/new/buttons/search.png) no-repeat right center;
  font-size: 0.9em;
	padding: 3px 18px 3px 6px;
	border: 1px solid #aaa;
}

#main_menu {
	position: absolute;
	bottom: 2px;
  width: 100%;
}
#main_menu ul {
  list-style-type: none;
}
#main_menu li {
  float: left;
}
#main_menu h4 {
  display: inline;
  margin-top: 0;
  padding: 6px 16px 0 16px;
  font-weight: normal;
}
#main_menu .left {
  margin-left: 3%;
}
#main_menu .left li a {
  padding: 6px 16px 4px 16px;
  outline: none;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -moz-border-top-right-radius: 4px;
}
#main_menu .left li.active > a {
	background: #ddd url(/images/adva_cms/admin/tab_main_active.png) repeat-x;
}
#main_menu .left li a:hover {
  background-color: #fff;
  text-decoration: none;
}
#main_menu .right {
  float: right;
  margin-right: 33%;
  margin-top: -2px;
}
#main_menu .right li {
  float: left;
  margin-left: 8px;
  height: 21px;
}
#main_menu .right li a {
  display: block;
  padding: 0 10px;
  height: 21px;
  line-height: 20px;
  font-size: 12px;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
#main_menu .right li a:hover {
  background: #fff;
  text-decoration: none;
}
#main_menu .right li.active a {
  background: #ddd;
}
#main_menu .right li.active {
}