#header {
  position: relative;
  height: 110px;
	width: 100%;
	background-color: #fbf7e4;
	background: #fbf7e4 url(/images/adva_cms/admin/header_bg.png) bottom left;
	border-bottom: 4px solid #ddd;
}
#page {
	display: table;
	width: 100%;
}
#page > form {
	display: table-row;
	width: 100%;
}
#main {
	display: table-cell;
  width: 75%;
  vertical-align: top;
}
#main.collapsed {
	padding-left: 250px;
}
#right {
	display: table-cell;
	width: 350px;
  min-width: 350px;
  vertical-align: top;
	background-color: #f6f6f6;
}
#content {
  position: relative;
	margin-bottom: 20px;
	padding: 20px 6%;
}
#left {
  position: absolute;
  left: 0;
  width: 250px;
}
#left.collapsed {
  display: none;
}
