body {
  min-width: 775px;
}
body > div {
  display: table;
  width: 100%;
}
.main, .right {
  position: relative;
  display: table-cell;
  vertical-align: top;
}
.main {
  padding: 0 3%;
  width: 75%;
}
.right {
  width: 344px;
  min-width: 344px;
}	

#top {
  padding-top: 5px;
  background-color: black;
  border-bottom: 5px solid #c22222;
  white-space: nowrap;
}
#header {
  height: 75px;
  /*background: #fbf7e4 url(/images/adva_cms/admin/header_bg.png) bottom left;*/
  background-color: #fbf7e4;
  border-bottom: 4px solid #ddd;
}
#page > form {
  display: table-row;
  width: 100%;
}
#page .main {
}
#content {
  clear: both;
  position: relative;
  margin: 20px 0;
  padding-bottom: 20px;
}
#left {
  position: absolute;
  left: 0;
  width: 250px;
}
#left.collapsed {
  display: none;
}
#sidebar {
	background-color: #f6f6f6;
}
