<h2><%= wikipages_title(@category, @tags) %></h2>

<%
	table_for @wikipages do |t|
		t.column :title, :comments, :last_updated
		
		t.row do |r, wikipage|
  		r.cell link_to_show(wikipage.title, wikipage)
			r.cell link_to_content_comments_count(wikipage)
			r.cell datetime_with_microformat(wikipage.updated_at, :format => :long)
		end
		
		t.foot.row do |r|
			r.cell link_to(t(:'adva.wiki.view.index.link_to_create'), new_wikipage_path(@section))
			r.cell will_paginate(@wikipages), :class => :pagination, :colspan => :all
		end
		
		t.empty :div, "#{t(:'adva.wiki.view.index.wiki_empty_notice', :title =>  @section.title)}.
    				#{link_to t(:'adva.wiki.view.index.link_to_create_if_empty'), new_wikipage_path(@section)}", :class => 'empty'
  end
%>

<%= render :partial => 'footer' %>
