<table class="list" cellspacing="0">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% projects.each do |project| %>
      <tr>
        <td>
          <h3><%= link_to h(project.title), tickets_path(@section, project) %></h3>
          <p><%= h(project.desc) %></p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
