<% unless comments.empty? %>
  <div id="comments">
    <h2><%= pluralize comments.size, 'Comment' %></h2>
    <ol>
      <%= render :partial => 'comments/comment', :collection => comments %>
    </ol>
  </div>
<% end %>