<% if comments.present? %>
  <div id="comments">
    <h2><%= t(:'adva.comments.titles.comment_with_count', :count => comments.size) %></h2>
    <ol>
      <%= render :partial => 'comments/comment', :collection => comments %>
    </ol>
  </div>
<% end %>