
#sidebar {
  padding: 20px 8%;
}
#sidebar > fieldset {
	padding: 0 2%;
}
#sidebar > fieldset > * {
	margin-left: -6px;
	margin-right: -6px;
}
#sidebar > fieldset > label {
	font-size: 0.9em;
}
#sidebar > fieldset > input[type=text] {
	padding: 3px 5px;
	font-size: 0.9em;
}
#sidebar > fieldset > select {
	font-size: 0.8em;
}
#sidebar > fieldset > p {
	margin-top: 0.4em;
}

.filters {
  font-size: 0.9em;
  min-width: 286px;
}
.filters .set fieldset {
  margin-right: 30px;
}
.filters select {
  font-size: 0.9em;
}
.filters input.submit {
  position: absolute;
  right: 0px;
  top: -24px;
  font-size: 9px;
}
