<h2>Insufficient permissions</h2>

<p><%= @error.message %></p>

<p>
  If you think you should be allowed to perform this action please contact
  the admin of this site and ask him to reconfigure the permissions for your
  role.
</p>

<p><%= link_to 'Back', 'javascript:history.back();' %></p>