<h2><%= t(:'adva.messages.insufficient_permissions.title') %></h2>
<p><%= @error.message %></p>
<p><%= t(:'adva.messages.insufficient_permissions.body') %></p>
<p><%= link_to t(:'adva.links.back'), 'javascript:history.back();' %></p>
