#comments_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#comments_list li {
  margin-top: 15px;
	padding: 0 40px 0 25px;
	background: url(/images/adva_cms/icons/comment.png) no-repeat left 3px;
}
#comments_list li.highlight {
  padding: 20px 20px 20px 55px !important;
  padding-bottom: 3px;
  border: 1px solid #add;
  background-color: #eaf6f6 !important;
  margin: 20px 0;	
}
#comments_list .actions {
  float: right;
  margin-top: -1px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
}
#comments_list .actions a {
  margin-top: -2px;
}
#comments_list blockquote {
	margin: 0;
}
#comments_list cite {
  font-size: 12px;
	font-style: normal;
}