<% if @themes.present? -%>
  <%= render :partial => 'theme', :collection => @themes %>
<% else -%>
  <div class="empty">
    <%= t(:'adva.themes.no_themes_available') %>
    <%= link_to t(:'adva.themes.links.create_one_now'), new_admin_theme_path %>
  </div>
<% end -%>
