<h2><%= t(:'adva.themes.titles.new') %></h2>

<% form_for :theme, @theme, :url => admin_themes_path(@site) do |f| %>
	<%= render :partial => "form", :locals => {:f => f} %>
	
	<% save_or_cancel_links(f, :cancel_url => admin_themes_path) %>
<% end %>
