<% content_for :sidebar do %>
	<div class="tabs">
		<ul><li class="active"><a href="#files"><%= t(:'adva.titles.files') %></a></li></ul>
		<div class="tab active" id="tab_files">
		  <% [:templates, :stylesheets, :javascripts, :images, :others].each do |type| files = @theme.send(type) %>
			  <% if files.present? %>
			    <h3><%= t(:"adva.theme_files.types.#{type}") %></h3>
			    <ul>
			      <% files.each do |file| %>
			        <li><%= link_to file.base_path, admin_theme_file_path(@site, @theme.id, file.id) %></li>
			      <% end %>
			    </ul>
			  <% end %>
			<% end %>
	  </div>  
  </div>
<% end %>
