<h2><%= @theme.name %></h2>

<% [:templates, :stylesheets, :javascripts, :images, :others].each do |file_type| %>
<h3><%= t(:"adva.theme_files.types.#{file_type}") %></h3>
<%
	table_for @theme.send(file_type), :collection_name => "theme_#{file_type}" do |t|
		t.column :path, :actions

		t.row do |r, file|
			r.cell link_to(file.base_path, admin_theme_file_path(@site, @theme.id, file.id))
			r.cell link_to(t(:'adva.theme_files.links.edit'), admin_theme_file_path(@site, @theme.id, file.id), :class => 'edit')  + "\n" +
						 link_to(t(:'adva.theme_files.links.delete'), admin_theme_file_path(@site, @theme.id, file.id),
									 	 :confirm => t(:'adva.theme_files.confirm_delete'), :method => 'delete', :class => 'delete')

		end
	end
end
%>
<% if @theme.files.empty? %>
<p class="empty">
	<%= t(:'adva.theme_files.no_files') + "\n" + link_to_new(:'adva.theme_files.links.create_one_now', [@theme, :file]) %>
</p>
<% end %>
