<h2><%= t(:'adva.theme_files.titles.create') %></h2>

<% form_for :file, @file, :url => admin_theme_files_path(@site, @theme.id), :html => { :method => :post } do |f| -%>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>
