<h2><%= t(:'adva.themes.titles.edit_file') %></h2>

<% form_for :file, @file, :url => admin_theme_file_path(@site, @theme.id, @file.id), :html => { :method => :put } do |f| -%>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>
