<div id="<%= dom_id(message) %>">
	<div class="content">
		<p>
			<%= link_to h(message.subject), message_path(message) %>
			<%= link_to 'delete', message_path(message), :method => :delete,
			    :confirm => "Are you sure you wish to delete this message?" %>
		</p>
	</div>
</div>