<% unless content.new_record? %>
	<p><%= links_to_content_translations(content){ |locale| link_to_edit(locale, content, :cl => locale) } %></p>
<% end %>

<p>
  <%= label_tag :content_locale, t(:"adva.#{content[:type].tableize}.locale_for_record") %>
  <select id="content_locale" name="cl"> 
    <%= options_for_select I18n.available_locales, Article.locale %>
  </select>
</p>

