<% content_for :sidebar do -%>
<h3>Actions</h3>
<ul>
  <li><%= link_to 'Delete this section', admin_section_path(@site, @section), { :confirm => "Are you sure you wish to delete this section?", :method => :delete } %></li>
</ul>
<% end -%>

<% form_for :section, @section, :url => admin_section_path(@site, @section), :html => {:method => :put} do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p class="buttons">
	  <%= submit_tag 'Save' %>
	</p>
<% end %>