<% content_for :sidebar do %>
	<p class="hint text_only large padded">
		<%= t(:'adva.sections.hints.sections') %>
	</p>
	<p class="hint text_only large padded">
		<%= t(:'adva.sections.hints.reorder') %>
	</p>
<% end %>

<%
	table_for @sections, :collection_name => :sections, :class => 'sections list tree' do |t|
		t.column :section
		t.column :actions, :class => :actions

		t.row(:class => 'section') do |r, section|
			r.add_class "level_#{section.level}"
			r.cell content_status(section) + link_to(section.title, admin_section_contents_path(section), :class => section.state)
			r.cell link_to_edit(section) + "\n" +
			       link_to_delete(section)
		end

		t.empty :p, :class => 'empty' do
	    t(:'adva.sections.no_sections_in_site', :section => @section.title) + "\n" +
			link_to_new(:'adva.sections.links.create_now', [@site, :section])
		end
	end
%>
