<% content_for :action_nav do -%>
	<% Menu.instance(:'admin.sections.manage').render(self) %>
	<% Menu.instance(:'admin.sections.actions').render(self) %>
<% end -%>

<h2><%= t(:'adva.sections.titles.create') %></h2>

<% form_for :section, @section, :url => admin_sections_path do |f| %>
	<% f.field_set do %>
    <%= f.label :type %>
    <% Section.types.each do |type| %>
      <%= f.radio_button :type, type, :label => type %>
    <% end %>

    <%= f.text_field :title, :label => true %>
  <% end %>

  <% save_or_cancel_links(f) %>
<% end %>
