<p>
  <label for="cell_options_count"><%= I18n.translate(:'adva.cells.user.states.recent.form.count', :default => 'Count') %></label>
  <input type="text" id="cell_options_count" name="cell_options[count]" value="" />
</p>