<% if article %>
  <div id="<%= dom_id article %>" class="entry">
    <% unless article.primary? %>
    	<h2>
    	  <%= link_to_content article %>
    	</h2> 
  	<% end %>
  	<div class="body">
	    <%= article.excerpt_html %>
      <%= article.body_html %>
  	</div>
  </div>
<% end %>
