html, body {
	padding: 0px;
	margin: 0px;
	color: #333;
	background-color: #f6f6f6;
 	font: 12px "Lucida Grande",Lucida,Helvetica,sans-serif;
	line-height: 1.5em;
}
ul, li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
img {
	border-width: 0px;
}
a { 
	outline: none; 
}

.clearing {
  display: block;
  zoom: 1; /* gives layout to ie? */
}
.clearing:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .clearing {
  height: 1%;
}
.inline {
	display: inline !important;
}
.alt {
	background-color: #f0f0f0 !important;
}
.empty {
  padding: 10px;
  padding-left: 35px;
  background: #eee url(/images/adva_cms/icons/minus.gif) 10px 50% no-repeat; 
}
.divider {
	border-top: 1px solid #ccc;
	padding: 20px 0px 0px 12px;
}

/* flash, errors, notices */

#flashes div {
	line-height: 40px;
}
#flash-notice {
  background: #cfc;
  color: #051;
  text-align: center;
}
#flash-error {
  background: #F69A91;
  color: #510;
  text-align: center;
}