form {
	margin: 0px;
}
form h4 {
	color: #444;
	margin-bottom: 10px;
}
#main-content fieldset.clearfix {
	clear: both;
	background-color: #f6f6f6;
	border-width: 0px;
	border-top: 5px solid #e6e6e6;
	margin-top: 20px;
	padding: 0px 20px 1px 20px;
}

/* Clemens (2008/11/19) >> */
fieldset.clearfix div.col {
  width: 45%;
  padding: 5px 0;
  float: left;
}

fieldset.clearfix div.col + div.col {
  padding-left: 2%;
}
/* << */

label {
	display: block;
	color: #444;
	font-size: 13px;
	font-weight: bold;
	text-shadow: #fff 1px 1px;
	line-height: 24px;
}
label.light {
	display: inline;
	margin-right: 5px;
	line-height: 24px !important;
	color: #333;
	font-size: 13px;
	font-weight: normal;
	text-shadow: none;
	line-height: normal;
}
label.block {
	display: block;
}
.hint {
	display: block;
	font-size: 11px;
	font-weight: normal;
	color: #555;
	margin-bottom: 8px;
}
input[type="text"],
input[type="password"],
textarea {
	width:95%;
	border: 1px solid #ccc;
	padding: 4px;
	font-size: 13px;
}
textarea {
	width: 98%;
}
textarea.short {
	width: 98%;
	height: 80px;
}
input.big {
	width: 98%;
	font-size: 20px;
}
input.short {
	width: 50px;
}
div.buttons {
	background-color: #eaf6f6;
	border-top: 1px solid #99D3D5;
	margin: 30px 0 20px 0;
	padding: 10px;
  height: 22px;
}
p.buttons {
	background-color: #eaf6f6;
	border-top: 1px solid #99D3D5;
	margin: 20px 0pt;
	padding: 10px;
}
.widetab {
  display: block;
  /*border: none !important;*/
  border-top: 1px solid #ccc !important;
  background: #eee;
  padding: 5px;
  text-decoration: none;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}
.widetab:hover {
  background-color: #ddd;
}

#sidebar h4 {
	clear: both;
}
#sidebar fieldset {
	padding: 0 10px;
	background-color: #ebebeb;
}
#sidebar label {
	font-size: 11px;
	padding: 5px 0 0 0;
}
#sidebar label.inline {
	font-weight: normal;
}
#sidebar input[type="text"] {
	font-size: 13px;
	padding: 3px;
}

/*.site_spam_settings {
	display: none;
}
.site_spam_settings.active {
	display: block;
}*/
/* Removed for now. Clemens (2008/11/19)
#site_spam_settings_fields div {
	padding-left: 25px;
} */


/* errors */

.field_with_error input,
.field_with_error textarea {
	/*border-color: #c00; 
		border-width: 2px;
	background-color: #ffa;*/
}
.error_message {
	display: block;
	color: #c00;
	font-size: 11px;
	padding-top: 5px;
}
