form {
	margin: 0px;
}
form h4 {
	color: #444;
	margin-bottom: 10px;
}
#main-content fieldset {
	background-color: #f6f6f6;
	border-width: 0px;
	border-top: 5px solid #e6e6e6;
	padding: 0px 20px 1px 20px;
}
label {
	display: block;
	color: #444;
	font-size: 13px;
	font-weight: bold;
	text-shadow: #fff 1px 1px;
	line-height: 24px;
}
label.light {
	display: inline;
	color: #333;
	font-size: 13px;
	font-weight: normal;
	text-shadow: none;
	line-height: normal;
}
label.block {
	display: block;
}
.hint {
	display: block;
	font-size: 11px;
	font-weight: normal;
	color: #555;
	margin-bottom: 8px;
}
input[type="text"],
input[type="password"],
textarea {
	width: 300px;
	border: 1px solid #ccc;
	padding: 4px;
	font-size: 13px;
}
textarea {
	width: 100%;
}
textarea.short {
	width: 100%;
	height: 100px;
}
input.big {
	width: 100%;
	font-size: 20px;
}
input.short {
	width: 50px;
}
p.buttons {
	background-color: #eaf6f6;
	border-top: 1px solid #99D3D5;
	margin: 20px 0pt;
	padding: 10px;
}
.widetab {
  display: block;
  /*border: none !important;*/
  border-top: 1px solid #ccc !important;
  background: #eee;
  padding: 5px;
  text-decoration: none;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}
.widetab:hover {
  background-color: #ddd;
}

#sidebar h4 {
	clear: both;
}
#sidebar label {
	font-size: 11px;
}
#sidebar input[type="text"] {
	font-size: 13px;
	padding: 3px;
}

/*.site_spam_settings {
	display: none;
}
.site_spam_settings.active {
	display: block;
}*/
#site_spam_settings_fields div {
	padding-left: 25px;
}


/* errors */

.field_with_error input,
.field_with_error textarea {
	/*border-color: #c00; 
		border-width: 2px;
	background-color: #ffa;*/
}
.error_message {
	display: block;
	color: #c00;
	font-size: 11px;
	padding-top: 5px;
}