#sections_indicator {
	position: absolute;
	margin-top: -1px;
	margin-left: 6px;
}
#categories, #categories ul,
#sections, #sections ul { 
	padding-left: 20px; 
	line-height: 25px;
}
#categories, #sections {
	padding-left: 0px;
}
.sortable {
	padding-top: 3px;
	cursor: move;
}
.sortable li {
	margin-top: -6px;
	line-height: 31px;
}
.sortable li span {
/*	padding-left: 20px;
	background: url(/images/adva_cms/icons/arrow_cross.png) no-repeat 0px 1px;*/
}
td.sortable {
	padding-top: 0px;
	padding-left: 40px !important;
	background: url(/images/adva_cms/icons/arrow_up_down.png) no-repeat 11px 9px;
}
.drop_hover {
	background: url(/images/adva_cms/sortable_tree/drag.png) no-repeat bottom left;
}
.drop_top {
	background-position: top left;
}
.drop_bottom {
	background-position: bottom left;
}
.drop_insert {
	background-position: 20px 100%;
}