<% form_for :contact_mail, @contact_mail, :url => contact_mails_path(:return_to => request.request_uri), :html => { :id => 'contact_mail_form', :method => :post } do |f| -%>
	<p>
    <%= hidden_field_tag :'contact_mail[recipients]', @recipients %>
  </p>

	<%= render_fields(@fields) unless @fields.blank? %>

  <%= submit_tag t(:'adva.common.labels.submit') %>
<% end %>