<div id="site_spam_settings_akismet" class="site_spam_settings <%= 'active' if active %>">
  <p>
    <label for="site_spam_options_akismet_key" class="light block">API Key</label>
    <%= text_field_tag "site[spam_options][akismet][key]", site.spam_options(:akismet, :key), :id => 'site_spam_options_akismet_key' %>
  </p>
  <p>
    <label for="site_spam_options_akismet_url" class="light block">Blog URL</label>
    <%= text_field_tag "site[spam_options][akismet][url]", site.spam_options(:akismet, :url), :id => 'site_spam_options_akismet_url' %>
  </p>
</div>