<% if @recent_blog_articles.present? %>
  <div id="recent_blog_articles_cell" class="cell recent_blog_articles">
    <h2><%= @opts[:title] || I18n.t(:'headings.recent_blog_articles', :count => @recent_blog_articles.size) %></h2>
  	<ul>
  	<% @recent_blog_articles.each do |article| %>
  	  <li><%= link_to_content(article) %></li>
  	<% end %>
  	</ul>
  </div>
<% end %>