<% content_for :sidebar do -%>
  <h3>Filters</h3>
	<% filter_for(Article, :categories => Section.first.categories) %>
<% end -%>

<%
	table_for @articles do |t|
		t.column :article, :comments, :published, :author, :actions

		# t.head.row do |r|
		# 	r.cell t(:'adva.articles.total_with_count', :count => @articles.total_entries), :class => :total, :colspan => :all
		# end

		t.row do |r, article|
			r.cell link_to_edit(article.title, article, :class => article.state)
  		r.cell article.accept_comments? && !article.comments.empty? ? link_to(article.comments.size, admin_comments_path) : t(:"adva.common.none")
			r.cell published_at_formatted(article)
			r.cell link_to(article.author_name, admin_site_user_path(@site, article.author))
			r.cell link_to_preview(article) + "\n" +
			       links_to_actions([:edit, :delete], article)
		end

		t.foot.row do |r|
			r.cell will_paginate(@articles), :class => :pagination, :colspan => :all
		end

		t.empty :p, :class => 'empty' do
			params[:filter] ?
				t(:'adva.blog.no_filtered_articles', :section => @section.title) :
				t(:'adva.blog.no_articles', :section => @section.title) + "\n" +
				link_to(t( :'adva.blog.links.create_article_now' ), new_admin_article_path(@site))
		end
	end
%>
