#main_menu .left li.active > a {
  background: #ddd url(/images/adva_cms/admin/tab_main_active.png) repeat-x;
}
#main_menu ul.actions li.active a {
  background: #ddd;
}
#breadcrumbs li,
#breadcrumbs li a {
  font-size: 9pt;
}
#header .right,
#header .right a {
  font-size: 9pt;
}
#main_menu ul.actions li a {
  font-size: 12px;
}