* {
	margin: 0;
	padding: 0;
}
body {
	background: #fff;
	/*background-image: url(/images/adva_cms/gridbg.gif);*/
	color: #333;
	font-size: 13px;
	line-height: 18px;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	padding-bottom: 54px;
}
#page {
	margin: 0 auto;
	padding: 0;
	width: 60%;
}

a {
	color: #333;
	text-decoration: underline;
	text-decoration: none;
	border-bottom: 1px dotted #333;
}
a:hover {
	background-color: #ff6;
}
h1 { 
	font-weight: normal;
  font-size: 24px; 
  line-height: 36px;
  margin-bottom: 18px; 
}
h2 { 
	font-weight: normal;
  font-size: 18px; 
  line-height: 18px; 
  margin-bottom: 18px;
}
h3 { 
  font-size: 13px; 
  line-height: 18px; 
}
h4 { 
  font-size: 13px; 
  line-height: 18px; 
}
p { 
  margin-bottom: 18px; 
}
/*blockquote {
	margin: 0 18px 18px 18px;
	padding: 6px;
	font-size: 13px;
	background: #dedede;
}
blockquote p {
	margin: 0px;
}*/
ul {
	list-style-type: square;
}
ul, ol {
	margin-left: 2em;
  margin-bottom: 18px;
}

/* HEADER */

#header {
	padding: 17px 0 21px 0;
	margin-bottom: 26px;
	border-bottom: 1px solid #666;
	text-align: left;
}
#header h1 {
	float: left;
	margin: 6px 12px 0 0;
}
#header h2 {
	float: left;
	font-size: 13px;
	font-weight: normal;
  line-height: 18px; 	
	margin: 18px 0 0 0;
	color: #666;
}
#header ul {
	float: right;
	list-style-type: none;
  line-height: 18px; 	
	margin-top: 18px;
  margin-bottom: 0;
}
#header li {
	display: inline-block;
	margin-left: 6px;
}
#header li:after {
  content: ' · ';
}

/* CONTENT */
h2 .meta {
	float: right;
	font-size: 13px;
}
h2.list_header {	
	/*text-align: right;*/
	padding: 0 0 9px 220px;
	margin-bottom: 18px;
}
.entry {
	padding-bottom: 9px;
	margin-bottom: 26px;
	border-bottom: 1px solid #aaa;
}
div.meta {
	font-size: 11px;
	float: left;
	width: 170px;
	color: #666;
	/*margin-bottom: 18px;*/
}
.meta a {
	color: #666;
	border-color: #666;
}
.meta ul {
	list-style-type: none;
	margin-left: 0px;	
}
.meta img {
	float: left;
	width: 36px;
	height: 36px;
	margin-right: 18px;
}
.meta .info {
	margin-top: 18px !important;
}
.content {
	margin-left: 220px;
}
.content a.meta {
	color: #666;
	border-color: #666;
	font-size: 11px;
}
.util,
.util a {
	color: #888;
	border-color: #888;
}
.previous {
	float: left;
}
.next {
	float: right;
}

/* FOOTER */

#footer {
	padding-left: 220px;
	padding-bottom: 9px;
	margin-bottom: 26px;
	border-bottom: 1px solid #bbb;
}
#footer div {
	float: left;
	width: 25%;	
}
#footer h4 {
	margin-bottom: 18px;
}
#footer ul {
	list-style-type: none;
	margin-left: 0px;
}
#copyright {
	float: left;
	clear: both;
	color: #888;
}
.navigation {
	float: right;
	padding-left: 0.4em;
	padding-top: 18px;
	margin-bottom: 0;
}
#feeds {
	float: right;
	list-style-type: none;
	margin-left: 0;
}
#feeds li {
	float: left;
	margin-left: 12px;
}