<p id="copyright">
  <%= t(:'adva.footer.site_powered_by', :link => '<a href="http://adva-cms.org">adva-cms</a>') %>
  <%= t(:'adva.footer.theme_inspired_by', :link => '<a href="http://powazek.com/posts/516">DePo</a>') %>
</p>