<%
	content_for :sidebar do
		f.tabs do
		  f.tab :options do
		    html = label_tag(:content_locale, t(:'adva.common.locale')) +
		            %(<select id="content_locale" name="cl">#{options_for_select I18n.available_locales, Article.locale}</select>) +
		            (@section.try(:single_article_mode) ? '' : f.text_field(:permalink, :label => true)) +
								%(<p class="hint" for="content_locale">#{t(:'adva.hints.locale')}</p>) +
		            f.text_field(:tag_list, :label => true, :hint => :'adva.hints.tags')

			  	if @categories.present?
				 		if !(@section.try(:single_article_mode) ? @section.single_article_mode : false)
		  	  		html << %(<label>#{t(:'adva.titles.publish_in_categories')}</label>) +
		  	          render(:partial => 'categories/checkboxes', :locals => { :categories => @categories, :content => @article })
						end
		  	end

		    html << f.select(:filter, filter_options, {}, :class => 'columnsFilter', :label => :'adva.titles.filter', :hint => :'adva.hints.filter')
		    html << f.select(:author_id, author_options(@site.users), { :selected => author_selected(@article) }, :label => true)
		  end
		end
	end
%>
