
<%
	table_for @articles do |t|
		t.column :article, :comments, :published, :author, :actions

		t.row do |r, article|
			r.cell content_status(article) + link_to_edit(article.title, article, :class => article.state)
  		r.cell article.accept_comments? && article.comments.present? ? link_to(article.comments.size, admin_comments_path) : t(:"adva.common.none")
			r.cell published_at_formatted(article)
			r.cell link_to(article.author_name, admin_site_user_path(@site, article.author))
			r.cell link_to_preview(article) + "\n" +
			       links_to_actions([:edit, :delete], article)
		end

		t.foot.row do |r|
			r.cell will_paginate(@articles), :class => :pagination, :colspan => :all
		end

		t.empty :p, :class => 'empty' do
			params[:filters] ?
				t(:'adva.articles.no_filtered_articles') :
				t(:'adva.articles.no_articles', :section => @section.title) + "\n" +
				link_to_new(:'adva.articles.links.create_now', [@section, :article])
		end
	end
%>

<% content_for :sidebar do -%>
 	<div class="tabs">
		<ul>
			<li class="active"><a href="#filters" onclick="return false;"><%= t(:'adva.titles.filter') %></a></li>
		</ul>
		<div class="tab active" id="tab_filters">
			<% filter_for(Article, :categories => Section.first.categories) %>
		</div>
	</div>
<% end -%>