<h2><%= t(:'adva.articles.titles.new', :content_locale => Article.locale) %></h2>

<%= links_to_content_translations(@article) %>

<% split_form_for :article, @article, :url => admin_articles_path, :html => {:multipart => true, :id => 'content_form'} do |f| -%>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <% save_or_cancel_links(f, :cancel_url => admin_articles_path) %>
<% end %>
