<% split_form_for :article, @article, :url => admin_articles_path, :html => {:multipart => true, :id => 'content_form'} do |f| -%>
  <%= render :partial => 'form', :locals => {:f => f} %>  
  <p class="buttons">
    <%= submit_tag t(:'adva.common.save') %> <%= t(:'adva.common.connector.or') %>
    <%= link_to t(:'adva.common.cancel'), admin_articles_path %>
  </p>
<% end -%>
