<table class="list" cellspacing="0">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% tickets.each do |ticket| %>
      <tr>
        <td>
          <h3><%= link_to h(ticket.title), ticket_path(@section, ticket.ticketable_id, ticket) %></h3>
        </td>
        <td>
          <%= link_to t(:"adva.common.edit"),
            edit_ticket_path(@section, ticket.ticketable_id, ticket),
            :class => :edit,
            :title => t(:"adva.common.edit") %>
          <%= link_to t(:"adva.common.delete"),
            ticket_path(@section, ticket.ticketable_id, ticket),
            :method => :delete, :class => :delete,
            :title => t(:"adva.common.delete"),
            :confirm => t(:"adva.tracker.message.confirm_ticket_destroy") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
