<div class="language clearfix">
   <fieldset>
	    <label for="language">Language</label>
	    <select id="language">
		     <option>English</option>
		  </select>
	 </fieldset>
</div><!--/end language-->
