<ul id="menu_global" class="clearing">
  <% if Site.multi_sites_enabled %>
    <li><%= admin_site_select_tag %></li>
  <% end %>
  <% if @site %>
    <li><%= link_to t(:'adva.titles.plugins'), admin_plugins_path(@site) %></li>
  <% end %>
  <li>Logged in as: <%= link_to_profile(@site, :name => current_user.name) %></li>
  <li><%= link_to t(:'adva.titles.logout'), logout_path, :method => :delete %></li>
</ul>
