<li><%= link_to t(:'adva.newsletter.link.new_issue'), new_admin_issue_path(@site, @newsletter) %></li>
<li><%= link_to t(:'adva.subscription.link.new'), new_admin_subscription_path(@site, @newsletter) %></li>
