<h2>Edit wikipage</h2>

<% split_form_for :wikipage, @wikipage, :url => admin_wikipage_path, :html => {:multipart => true, :method => :put, :id => 'content_form'} do |f| -%>
	<%= render :partial => "form", :locals => {:f => f} %>
	
	<% save_or_cancel_links(f, :cancel_url => admin_wikipage_path) %>
<% end %>
