<h2><%= t(:'adva.wikipage.view.new.create_new_header') %></h2>

<% split_form_for :wikipage, @wikipage, :url => admin_wikipages_path, :html => {:multipart => true, :id => 'content_form'} do |f| -%>
	<%= render :partial => "form", :locals => {:f => f} %>
	
	<% save_or_cancel_links(f, :cancel_url => admin_wikipages_path) %>
<% end %>
