<h2><%= t(:'adva.calendar.titles.edit_event') %></h2>

<% split_form_for :calendar_event, @event, :url => admin_calendar_event_path, :html => { :multipart => true, :method => :put, :id => 'content_form' } do |f| -%>
	<%= render :partial => "form", :locals => { :f => f } %>
	
	<% save_or_cancel_links(f, :cancel_url => admin_calendar_event_path) %>
<% end %>
