<tr id="<%= dom_id object %>">
  <td>
		<%= link_to object.title, edit_admin_category_path(@site, @section, object) %>
	</td>
  <td class="actions">
    <%= edit_resource_link(object, edit_admin_category_path(@site, @section, object)) %>
    <%= delete_resource_link(object, admin_category_path(@site, @section, object)) %>
  </td>
</tr>
