<h2>New Category</h2>
  
<% form_for :category, @category, :url => admin_categories_path do |f| %>
  <fieldset class="clearfix">

    <fieldset class="col1">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </fieldset>

  </fieldset>
      
      
	<p class="buttons">
	  <%= submit_tag 'Save' %>
	</p>
<% end %>