<h2>Create a new category</h2>
  
<% form_for :category, @category, :url => admin_categories_path do |f| %>
  <% f.field_set do %>
    <%= f.text_field :title, :label => true %>
	<% end %>

  <%= save_or_cancel_links(f, :cancel_url => admin_categories_path) %>
<% end %>
