<h2>Create a new category</h2>
  
<% form_for :category, @category, :url => admin_categories_path do |f| %>
  <fieldset class="clearfix">
    <div class="col1">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
  </fieldset>
	<p class="buttons">
	  <%= submit_tag 'Save' %>
	</p>
<% end %>
