#top > ul > li > a {
  font-weight: bold;
/*  font-size: 16px;*/
}
#top .active > a, #top .active:hover > a {
  background: #ff342b;
}
#top li > ul {
  border-top-color: #ff342b;
}
#sections_menu a.active {
  background-color: #ff342b;
}