<% for message in @conversation.messages %>
	<%= render :partial => 'messages/inspect', :locals => { :message => message } %>
<% end %>

<p>
<%= render :partial => 'messages/message_nav' %>

	  <div class="content">
        <%= link_to 'Reply', reply_message_path(@conversation.messages.last) %>
		</div>
</p>