body {
  margin: 0;
  font-size: 0.75em;
  font-family: "Helvetica Neue", "Helvetica", "Arial", Verdana;
}

div#page {
  clear: both;
  overflow: hidden;
}

div#header {
  float: left;
  width: 100%;
  border-bottom: 4px solid #b80000;
  background: url(/images/adva_cms/admin/new/ui/header_bg.png) repeat-x;
  background-color: #000;
  color: white;
}

div#context_browser, div#content, div#sidebar {
  padding: 10px;
  padding-bottom:10000px;
  margin-bottom:-9990px;
}

div#context_browser {
  float: left;
  width: 150px;
}

div#content {
  width: auto;
  margin-right: 390px;
  margin-left: 20px;
}

div#sidebar {
  float: right;
  width: 350px;
}

div#context_browser.collapsed {
  width: 22px;
}

img#context_browser_toggle {
  float: right;
}

div#content.full {
  margin-left: 78px;
}

div#content.collapsed {
  margin-left: 170px;
}