ul#breadcrumbs {
  list-style-type: none;
}

ul#breadcrumbs li {
  float: left;
  padding: 0 0px 0 4px;
}

ul#breadcrumbs li:after { 
  content: " » " 
}

ul#breadcrumbs li.active {
}

ul#breadcrumbs li.active + li {
}

ul#breadcrumbs li.active a {
}