div#main_menu {
  clear: left;
  float: left;
  width: 100%;
  margin-top: 20px;
  border-bottom: 1px solid #666;
}

div#main_menu ul {
  list-style-type: none;
  float: left;
  position: relative;
  top: 1px;
}

div#main_menu .left li {
  float: left;
  padding: 10px 20px;
  border: 1px solid #d3ceaa;
  border-bottom: 0;
}

div#main_menu .left li.active {
  border: 1px solid #666;
  border-bottom: 1px solid white;
}

div#main_menu .right {
  float: right;
}

div#main_menu .right li {
  float: left;
  margin-right: 5px;
  padding: 10px 5px;
}

div#main_content {
  clear: left;
  float: left;
  width: 100%;
}