fieldset {
	width: 100%;
}
form .col {
	width: 41%;         /* (100% - 3 * spacing-width) / 2 */
}
form .col:first-child {
	float: left;
	padding-left: 6%;   /* spacing width */
	margin-left: -3px;  /* input[margin-left] / 3 because we have 3 spacings */
}
form .col:last-child {
	float: right;
	padding-right: 6%;  /* same as above */
	margin-right: -3px;
}
form input[type=text] {
	width: 100%;
	margin-left: -9px; /* centers inputs over columns: border + padding */
	padding: 4px 8px;
	border: 1px solid gray;
	font-size: 1em;
}

label {
  cursor: pointer;
}

input[type="text"], select, textarea {
  padding: 2px 3px;
}