div#header div#navigation {
  margin-top: 28px;
  margin-left: 20px;
  background-color: black;
  color: white;
}

div#header div#navigation ul {
  float: left;
  position: relative; /* slight hack to allow correct tab colors */
  top: 4px;
  list-style-type: none;
  border-left: 1px solid #424242;
}

div#header div#navigation ul li {
  float: left;
  padding: 5px 20px 9px 20px;
  border-right: 1px solid #424242;
  cursor: pointer;
}

div#header div#navigation ul#right_navigation {
  float: right;
}

div#header div#navigation a {
  text-decoration: none;
  color: white;
}

div#header div#navigation li.active {
  background-color: white;
}

div#header div#navigation li.active a {
  color: black;
}

div#header div#navigation li:hover {
  background-color: white;
  color: black;
}

div#header div#navigation li:hover a {
  color: black;
}

div#header div#navigation a.more {
  background: url(/images/adva_cms/admin/new/ui/menu_more.png) no-repeat;
  background-position: 0px 6px;
  text-indent: 12px;
  width: 12px;
  overflow: hidden;
  display: block;
  float: left;
}

div#header div#navigation li:hover a.more {
 background-image: url(/images/adva_cms/admin/new/ui/menu_more_hover.png);
}