<%= render :partial => 'admin/sites/action_nav' %>

<h2>Create a new theme</h2>

<% form_for :theme, @theme, :url => admin_themes_path(@site) do |f| %>
	<%= render :partial => "form", :locals => {:f => f} %>
	<p class="buttons">
    <%= f.submit 'Save' %> or 
    <%= link_to "cancel", admin_themes_path %>
  </p>
<% end %>