<h3><%= t(:'adva.titles.actions') %></h3>
<ul>
	<li><%= link_to_new :'adva.newsletter.link.new_issue', [@newsletter, :issue] %></li>
	<li><%= link_to_new :'adva.subscription.link.new', [@issue, :issue], :url => new_admin_subscription_path %></li>
</ul>
