<div class="meta">
  <ul id="message-nav" class="menu">
    <li class="compose">
  		<%= link_to "New message", new_message_path %>
  	</li>
  	<li id="inbox"><%= link_to "Inbox", messages_path %></li>
    <li id="outbox"><%= link_to "Outbox", sent_messages_path %></li>
  </ul>
</div>