<%= render :partial => 'message_nav' %>

<div class="entry"> <!-- TODO class entry doesn't actually make sense here -->
  <div class="content">
    <h2><%= @message_box %></h2>
    <%= render :partial => 'messages', :locals => { :messages => @messages }%>
  </div>
</div>  
