<h2>Success!</h2>

<p>
  You have successfully created your site. Enjoy!
</p>

<p id='user_profile'>
  E-Mail: <strong><%= @user.email %></strong><br />
  Password: <strong><%= @user.password %></strong><br />
</p>

<p>
  <strong><%= link_to 'Manage your new site &raquo;', admin_site_path(@site) %></strong>
</p>

