#page {
	clear: both;
	display: inline-block;
	overflow: hidden;
}
/* opera hack \*/
#page {
	display: block;
}
/* end opera hack */
#page:after {
	content: '-'; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}
#main {
	display: inline;
	float: left;
	width: 70%;
}
#main.collapsed {
	width: 50%;
  margin-left: 25%;
}
#left {
	float: left;
	width: 25%;
	margin-left: -100%;
	padding-right: 1px;
}
#left.collapsed {
	width: 0%;
}
#right {
	float: left;
	width: 30%;
	background-color: #f6f6f6;
}
#main, #left, #right {
	padding-bottom: 32767px !important;
	margin-bottom: -32767px !important; 
}
.navigation {
  position: relative;
	width: 100%;
	height: 72px;
	background-color: #fbf7e4;
	border-bottom: 4px solid #ddd;
}
#content {
	clear: both;
	margin-bottom: 20px;
	padding: 20px 6%;
}
