<% content_for :action_nav do %>
  <ul class="sub-nav clearfix">
    <li><%= link_to content_tag(:span, t(:'adva.users.links.create_user')), new_member_path %></li>
    <% if @user and !@user.new_record? %>
      <li><%= link_to content_tag(:span, t(:'adva.users.links.edit_user')), edit_member_path %></li>
    <% end %>
  </ul>
<% end %>