<% if @site -%>
<h2>Membership</h2>
<fieldset class="clearfix">
  <div class="col1">
    <p>
      <%= check_box_tag "user[memberships][#{@site.id}]", 1, @user.is_site_member?(@site), :id => "user_memberships_#{@site.id}" %>
      <%= hidden_field_tag "user[memberships][#{@site.id}]", 0 %>
      <%= f.label "user_memberships_#{@site.id}", "Member of: #{@site.name}", :class => 'light' %>
    </p>
  </div>
</fieldset>
<% end -%>