<h2><%= t(:'adva.users.titles.edit') %></h2>

<% form_for :user, @user, :url => admin_user_path(@site, @user), :html => {:method => :put} do |f| -%>
  <%= render :partial => 'form', :locals => {:f => f} %>  
<% end -%>

<%= render :partial => 'sidebar' %>