<h2><%= t(:'adva.users.titles.new') %></h2>
<% form_for :user, @user, :url => collection_path do |f| -%>
  <%= render :partial => 'form', :locals => {:f => f} %>  
  <%= render :partial => 'roles', :locals => {:f => f} if @site && current_user.has_role?(:admin, :context => @site) %>
  <%= render :partial => 'memberships', :locals => {:f => f} if @site %>

  <% save_or_cancel_links(f, :cancel_url => (@site.nil? ? admin_users_path : admin_site_users_path(@site))) %>
<% end -%>
