<% if @board.topics.present? %>
  <%= render :partial => 'topics' %>
<% else %>
  <p id="topics" class="empty">
    <%= t(:'adva.topics.info.no_topics_in_board') %>
		<% authorized_tag :span, :create, @topic do %>
    	<%= link_to t(:'adva.topics.links.post_new') + ' &raquo;', new_board_topic_path(@section, @board) %>
		<% end %>
  </p>
<% end %>