<% if @topics.present? %>
  <%= render :partial => 'topics' %>
<% else %>
  <p id="topics" class="empty">
    <%= t(:'adva.topics.info.no_topics_in_forum') %>
		<% authorized_tag :span, :create, @topic do %>
    	<%= link_to t(:'adva.topics.links.post_now') + ' &raquo;', new_topic_path(@section) %>
		<% end %>
  </p>
<% end %>