<h2>Topics</h2>

<%
	table_for @section.topics do |t|
		t.column :last_updated, :author, :title, :posts, :actions
		t.row do |r, topic|
			r.cell topic.created_at.to_formatted_s(:short)
			r.cell topic.last_author_name
			r.cell link_to_topic(topic)
			r.cell topic.posts.size
			r.cell edit_resource_link(topic, edit_topic_path(@section, topic.permalink)) + "\n" +
			       delete_resource_link(topic, topic_path(@section, topic.permalink, :return_to => admin_boards_path(@site, @section)), :confirm => "Are you sure you want to delete this topic?")
		end

		t.empty :p, 'There currently are no topics in this forum.', :class => 'empty'
	end
%>
