<h2><%= t(:'adva.sidebar.titles.topics') %></h2>

<%
	table_for @section.topics do |t|
		t.column :last_updated, :author, :title, :posts #, :actions
		t.row do |r, topic|
			r.cell topic.created_at.to_formatted_s(:short)
			r.cell topic.last_author_name
			r.cell link_to_topic(topic)
			r.cell topic.posts.size
			# r.cell links_to_actions([:edit, :delete], topic, :namespace => nil)
		end

		t.empty :p, t(:'adva.topics.info.no_topics_in_forum'), :class => 'empty'
	end
%>
