<h2>Topics</h2>

<% unless @section.topics.empty? -%>

	<%
		table_for @section.topics do |t|
			t.columns :last_updated, :author, :title, :posts, :actions
			t.body do |r, topic, index|
				r.cell topic.created_at.to_formatted_s(:short)
				r.cell topic.last_author_name
				r.cell link_to_topic(topic)
				r.cell topic.posts.size
				r.cell edit_resource_link(topic, edit_topic_path(@section, topic.permalink)) + "\n" +
				       delete_resource_link(topic, topic_path(@section, topic.permalink, :return_to => admin_boards_path(@site, @section)), :confirm => "Are you sure you want to delete this topic?")
			end
		end
	%>

<% else -%>

	<p class="empty">
		You do not have any topics on your forum.<br /> You can create a topic from <%= link_to 'here', new_topic_path(@section) %>,
		or from the 'Create a new Topic' link from right-hand menu.
	</p>

<% end -%>