<h2><%= t(:'adva.boards.titles.new') %></h2>
  
<% form_for :board, @board, :url => admin_boards_path do |f| %>
  <fieldset>
    <%= render :partial => 'form', :locals => {:f => f} %>
  </fieldset>
	<p class="buttons">
	  <%= submit_tag t(:'adva.common.save') %> or
	  <%= link_to t(:'adva.common.cancel'), admin_boards_path %>
	</p>
<% end %>