<% fields_for :issue do |f| %>
  <h3><%= t(:'adva.titles.optional_settings') %></h3>

  <% f.field_set :optional_settings do %>
    <%= f.select :filter, filter_options, {}, :class => 'columnsFilter', :label => :'adva.labels.filters' %>
  <% end %>
<% end %>
