<div id='newsletter-header' class='clearfix'>
  <div id='newsletter-title'>
    <ul>
      <li><%= link_to t('adva.newsletter.link.issues'), admin_issues_path(@site, @newsletter) %></li>
      <li><%= link_to t('adva.newsletter.link.subscribers'), admin_subscriptions_path(@site, @newsletter) %></li>
    </ul>
  </div>
</div>
