<div id='newsletter-header' class='clearfix'>
  <div id='newsletter-title'>
    <h1><%= link_to h(@newsletter.title), admin_newsletter_path(@site, @newsletter) %></h1>
    <p><%= h(@newsletter.desc) %></p>
  </div>
</div>
