<ul class='sub-nav clearfix'>
  <li><%= link_to "<span>#{ t('adva.newsletter.link.issues') }</span>", admin_issues_path(@site, @newsletter) %></li>
  <li><%= link_to "<span>#{ t('adva.newsletter.link.subscribers') }</span>", admin_subscriptions_path(@site, @newsletter) %></li>
</ul>
