<% content_for :sidebar do %>
  <%= render :partial => 'admin/shared/sidebar_manage' %>
<% end %>

<h2><%= t(:'adva.newsletter.title.edit') %></h2>
<% split_form_for :newsletter, @newsletter, :url => admin_newsletter_path, :html => {:method => :put, :multipart => true, :id => 'content_form'} do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>  

  <%= save_or_cancel_links(f, :cancel_url => admin_newsletter_path(@site)) %>
<% end %>
