<% content_for :sidebar do %>
	<p class="hint text_only large padded"><%= t(:'adva.newsletters.hints.newsletter')%></p>
<% end %>

<%
	table_for @newsletters do |t|
		t.column :name, :issues, :subscribers, :actions

		# t.head.row do |r|
		# 	r.cell t(:'adva.newsletter.total_newsletters', :newsletters_count => @site.newsletters.size), :class => :total, :colspan => :all
		# end

		t.row do |r, newsletter|
  		r.cell content_status(newsletter) + link_to(newsletter.title, admin_adva_issues_path(@site, newsletter), :class => newsletter.state)
			r.cell link_to(newsletter.issues_count, admin_adva_issues_path(@site, newsletter))
			r.cell link_to(newsletter.subscriptions_count, admin_adva_subscriptions_path(@site, newsletter))
			r.cell links_to_actions([:edit, :delete], newsletter)
		end

		t.empty :p, :class => 'empty' do
			t(:'adva.newsletter.no_newsletters') + "\n" +
			link_to(t(:'adva.links.create_one_now'), new_admin_adva_newsletter_path(@site))
		end
	end
%>
