<h2><%= t(:'adva.newsletter.title.new') %></h2>
<% split_form_for :newsletter, @newsletter, :url => admin_adva_newsletters_path, :html => { :multipart => true } do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>  
  <% save_or_cancel_links(f, :cancel_url => admin_adva_newsletters_path) %>
<% end %>
