<p>
  <label for="cell_options_section"><%= I18n.translate(:'adva.cells.album.states.single.form.section', :default => 'Page') %></label>
  <input type="text" id="cell_options_section" name="cell_options[section]" value="" />
</p>