<% if collection_title(@set, @tags) %>
  <h2 class="list_header"><%= collection_title(@set, @tags) %></h2>
<% end %>

<%= render :partial => 'photo', :collection => @photos, :locals => {:mode => :many} %>
<%= render :partial => 'footer' %>