<% if section.children.empty? %>
  <li>
    <%#= link_to section.name, item.url %>
    <%= link_to section.title, section_path(section) %>
  </li>
<% else %>
  <li>
      <%#= link_to "#{item.name}<!--[if IE 7]><!-->", item.url %>
      <%= link_to "#{section.title}<!--[if IE 7]><!-->", section_path(section) %><!--<![endif]-->
  		<!--[if lte IE 6]><table><tr><td><![endif]-->
  		<ul>
      <% section.children.each do |child| %>
        <%= render :partial => "widgets/section", :locals => { :section => child } %>
      <% end %>
  		</ul>
  		<!--[if lte IE 6]></td></tr></table></a><![endif]-->
  </li>
<% end %>
